# THIS FILE CONTAINS STATIC VARS
POSTGRES_DB=metis
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

NATS_USER=nats
NATS_PASSWORD=nats
NATS_HOST=localhost
NATS_PORT=4222
NATS_NOTIFICATION_SUBJECT=metis.notification

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
